.portable-infobox {
    background-color: #0f3450;
    clear: right;
    float: right;
    margin: 0 0 15px 15px;
    width: 270px;
}
.portable-infobox .pi-title {
    font-size: 18px;
    line-height: 28px;
}
.portable-infobox .pi-header, .portable-infobox .pi-title {
    border: 0;
    margin: 0;
}
.portable-infobox .pi-item-spacing {
    padding: 5px 10px;
}
.pi-image {
    margin: 0!important;
    text-align: center;
}
.portable-infobox .pi-item-spacing {
    padding: 5px 10px;
}
.pi-data {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}
.pi-data, .pi-group {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.pi-border-color {
    border-color: #114061;
}
.portable-infobox .pi-data-label {
    margin-bottom: inherit;
    margin-top: 0;
}
.portable-infobox .pi-secondary-font {
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    margin-top: 0;
}
.pi-data-value:not(:first-child) {
    -ms-flex-preferred-size: 180px;
    -webkit-flex-basis: 180px;
    -moz-flex-basis: 180px;
    flex-basis: 180px;
    padding-left: 10px;
}
.pi-data-value {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 12px;
    line-height: 18px;
    padding-left: 0;
    word-break: break-word;
}
