@import url('https://fonts.googleapis.com/css?family=Merriweather');

html, body {
    margin: 0;
    font-family: 'Merriweather', sans-serif;
    line-height: 1.65;
    background: #fcfcfc;
}

header {
    position: fixed;
    background: #1d1d1d;
    z-index: 1000;
    top: 0;
    padding: 25px 0;
    bottom: 0;
    overflow: auto;
    left: 0;
    max-width: calc(20vw + 30px);
}

header nav {
    margin: 15px 0;
}

header nav ul {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    list-style: none;
}

header a,
header a:visited {
  color: #fff;
}

header nav li,
header .sidebar-item {
    margin-bottom: 0.1em;
    padding: 8px 20px;
    transition: background .2s;
}

header .sidebar-item {
    height: 50%;
}

header nav li:focus:not(.caption),
header nav li:active:not(.caption),
header nav li:hover:not(.caption) {
    background: rgba(255,255,255,0.1);
}

header #site-logo {
    max-width: 100%;
}

header #site-link {
    max-width: calc(100% - 30px);
    margin: 0 auto;
    display: block;
}

header iframe {
    width: 100%;
    height: 100%;
}

footer, article, #sitenotice {
    margin-left: calc(20vw + 30px + 4em);
    margin-right: 4em;
}

article {
    margin-top: 1em;
}

header .caption {
    text-transform: uppercase;
    color: #c3c3c3;
    font-weight: 700;
    font-size: 75%;
}

#localNotice {
    padding: 0.75em 4em;
    background: #ffd01f;
    margin-left: 20vw;
    margin-bottom: 0;
}

#toolbar ul {
    margin-top: 0;
    margin-left: 20vw;
    list-style: none;
    background: #000;
    padding: 0.6em 4em;
}

#toolbar,
#toolbar ul {
    text-align: center;
}

#toolbar ul li {
    display: inline-block;
}

#toolbar ul li,
#toolbar ul li a:visited,
#toolbar ul li a:link {
    color: #fcfcfc;
    font-size: 105%;
    padding: 0 0.4em;
}
